@page "/counter"
@using global::AdaptiveCards.Blazor.Actions

<h1>TemplatedAdaptive Card</h1>

<TemplatedAdaptiveCard @ref="card" TModel="Customer" Model="@Customer" SubmitHandler="this"></TemplatedAdaptiveCard>

<br />

<textarea style="width:100%" rows="10" @bind="@schema"></textarea>

<button @onclick="UpdateSchema" class="btn btn-primary">Update schema</button>

@if (card?.Model != null)
{
    <input type="text" @bind="card.Model.FirstName"></input>
    <input type="text" @bind="card.Model.LastName"></input>
}

@if (Customer != null)
{
    <input type="text" @bind="Customer.FirstName"></input>
    <input type="text" @bind="Customer.LastName"></input>
}

<CodeBlock Code="@xmlCode" Language="language-xml"></CodeBlock>

@code {

    string schema = "";
    TemplatedAdaptiveCard<Customer> card = null;
    string xmlCode = "";

    public Customer Customer = new Customer() { FirstName = "Mik", LastName = "Koski" };
    protected override async Task OnParametersSetAsync()
    {
        schema = await System.IO.File.ReadAllTextAsync("TemplatedAdaptiveCard.json");
        xmlCode = await System.IO.File.ReadAllTextAsync("XMLSample.txt");
    }

    public async Task UpdateSchema()
    {
        await card.RenderCard(schema, Customer);
    }

    public async Task Submit(SubmitEventArgs eventArgs)
    {
    }

    public async Task SaveDate(int x, string dueDate)
    {
    }
}