.bd-navbar {
    background-color: #358ccb;
}

.bd-navbar .navbar-nav .nav-link {
	color: white;
}

.slbImage {
	padding: 2em 0;
}

.bd-toc-link {
    padding: .25rem 1.0rem;
}

.bd-sidebar .nav>li>a {
    padding: .25rem 1.0rem;
}

@media (max-width: 991.98px)
{
	.bd-navbar {
		padding-right: 1.0rem;
		padding-left: 1.0rem;
	}
}

@media (min-width: 992px)
{
	.bd-content>ol, .bd-content>p, .bd-content>ul {
		max-width: 100%;
	}
}