
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Adaptive Cards for Blazor</title>
    <meta name="description" content="Adaptive Cards for Blazor: Documentation">

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/docs.min.css" rel="stylesheet">
    <link href="/assets/prism.css" rel="stylesheet">
    <link href="/assets/simpleLightbox.min.css" rel="stylesheet">
    <link href="/assets/theme.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>
<body>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bd-fix">

        <a class="navbar-brand mr-0 mr-md-2" href="/"><img src="/assets/logo.png" width="36" height="36" class="d-block" viewBox="0 0 612 612" role="img" focusable="false" /></a>

        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Documentation</a>
                    </li>
            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://www.adaptivecardsblazor.com" target="_blank" rel="noopener">Project Home</a>
                </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 collapsed" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
                <nav class="collapse bd-links" id="bd-docs-nav">
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/index.html">
                                Home
                            </a>

                                <ul class="nav bd-sidenav">
                                        <li class="">
                                            <a href="/index.html">
                                                Welcome to Adaptive Cards for Blazor
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a href="/gettingstarted.html">
                                                Getting Started
                                            </a>
                                        </li>
                                </ul>
                        </div>
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/basic/introduction.html">
                                Getting started
                            </a>

                        </div>
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/actions/introduction.html">
                                Actions
                            </a>

                                <ul class="nav bd-sidenav">
                                        <li class="">
                                            <a href="/actions/introduction.html">
                                                Blazor Adaptive Cards support openlink, submit and open group actions
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/actions/openlink.html">
                                                Blazor Adaptive Cards support openlink, submit and open group actions
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/actions/submit.html">
                                                Blazor Adaptive Cards support openlink, submit and open group actions
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/actions/multiplesubmitactions.html">
                                                multiplesubmitactions
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/actions/updatingschema.html">
                                                updatingschema
                                            </a>
                                        </li>
                                </ul>
                        </div>
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/templating/introduction.html">
                                Templating
                            </a>

                                <ul class="nav bd-sidenav">
                                        <li class="">
                                            <a href="/templating/introduction.html">
                                                Introduction to Blazor Adaptive Cards
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/templating/binding.html">
                                                Binding models and schemas
                                            </a>
                                        </li>
                                </ul>
                        </div>
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/cards/introduction.html">
                                Card Collections
                            </a>

                                <ul class="nav bd-sidenav">
                                        <li class="">
                                            <a href="/cards/introduction.html">
                                                Display lists and columns of cards using Cards component
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/cards/builtinlayouts.html">
                                                Introduction to Blazor Adaptive Cards
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/cards/templateselector.html">
                                                Introduction to Blazor Adaptive Cards
                                            </a>
                                        </li>
                                </ul>
                        </div>
                        <div class="bd-toc-item active">
                            <a class="bd-toc-link" href="/advanced/configuration.html">
                                Advanced Topics
                            </a>

                                <ul class="nav bd-sidenav">
                                        <li class="">
                                            <a href="/advanced/configuration.html">
                                                Configuring Blazor Adaptive Cards
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/advanced/events.html">
                                                Configuring Blazor Adaptive Cards
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/advanced/renderingerror.html">
                                                Configuring Blazor Adaptive Cards
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="/advanced/performance.html">
                                                Performance tips for Blazor Adaptive Cards
                                            </a>
                                        </li>
                                </ul>
                        </div>
                </nav>
            </div>

                <div class="d-none d-xl-block col-xl-2 bd-toc">
                    <ul class="section-nav">
                            <li class="toc-entry toc-h2"><a href="#introduction">Introduction</a></li>
                            <li class="toc-entry toc-h3"><a href="#the-goal">The Goal</a></li>
                            <li class="toc-entry toc-h3"><a href="#the-starting-point">The Starting Point</a></li>
                            <li class="toc-entry toc-h3"><a href="#adding-the-adaptive-cards-for-blazor-package">Adding the Adaptive Cards for Blazor package</a></li>
                            <li class="toc-entry toc-h3"><a href="#configuring-the-blazor-app-for-adaptive-cards">Configuring the Blazor App for Adaptive Cards</a></li>
                            <li class="toc-entry toc-h3"><a href="#the-schema">The schema</a></li>
                            <li class="toc-entry toc-h3"><a href="#adding-the-schema-into-the-app">Adding the Schema into the App</a></li>
                            <li class="toc-entry toc-h3"><a href="#displaying-the-card">Displaying the card</a></li>
                            <li class="toc-entry toc-h3"><a href="#modernizing-the-look">Modernizing the look</a></li>
                            <li class="toc-entry toc-h3"><a href="#adding-an-openurl-action">Adding an OpenUrl action</a></li>
                            <li class="toc-entry toc-h3"><a href="#adding-a-submit-showcard-actions">Adding a Submit & ShowCard actions</a></li>
                            <li class="toc-entry toc-h2"><a href="#card-collections">Card Collections</a></li>
                            <li class="toc-entry toc-h3"><a href="#creating-the-templated-schema">Creating the Templated Schema</a></li>
                            <li class="toc-entry toc-h3"><a href="#displaying-the-card-collection">Displaying the Card Collection</a></li>
                            <li class="toc-entry toc-h3"><a href="#animating-the-cards">Animating the cards</a></li>
                            <li class="toc-entry toc-h2"><a href="#next-steps">Next Steps</a></li>
                    </ul>
                </div>

            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <h1 class="bd-title" id="content">Getting Started</h1>
                <p class="bd-lead">Adaptive Cards for Blazor is available as a NuGet package. This tutorial shows you can get started with the library.</p>
                <h2 id="introduction">Introduction</h2>
<p>Adaptive Cards for Blazor targets the server side version of Blazor, which was released in .NET Core 3.0. This tutorials gives you a quick run through of how to build a Blazor application which uses Adaptive Cards.</p>
<p>This tutorial is split into two parts: In the first part a card with actions is created. In the second part the card collection capabilities of Adaptive Cards for Blazor are introduced.</p>
<h3 id="the-goal">The Goal</h3>
<p>The goal of this tutorial is to create a Blazor application which contains weather cards.</p>
<h3 id="the-starting-point">The Starting Point</h3>
<p>Create a new Blazor App in Visual Studio 2019:</p>
<p><a href="2019-10-06-12-25-33.png" class="lightbox"><img src="2019-10-06-12-25-33.png" class="img-fluid" alt=""></a></p>
<p>Give your app a name. In this tutorial the app is called "WeatherCards":</p>
<p><a href="2019-10-06-12-26-18.png" class="lightbox"><img src="2019-10-06-12-26-18.png" class="img-fluid" alt=""></a></p>
<p>Create the app as a Blazor Server App:</p>
<p><a href="2019-10-06-12-26-49.png" class="lightbox"><img src="2019-10-06-12-26-49.png" class="img-fluid" alt=""></a></p>
<p>If you now run the app using F5, you should see the default Server Side Blazor app:</p>
<p><a href="2019-10-06-12-27-51.png" class="lightbox"><img src="2019-10-06-12-27-51.png" class="img-fluid" alt=""></a></p>
<p>Next, we will start modifying the default app so that it can be used to display Adaptive Cards.</p>
<h3 id="adding-the-adaptive-cards-for-blazor-package">Adding the Adaptive Cards for Blazor package</h3>
<p>Adaptive Cards for Blazor is available as a NuGet package. The package is called <a href="https://www.nuget.org/packages/AdaptiveCardsBlazor/">AdaptiveCardsBlazor</a>.</p>
<p>Install the latest version of the package through project's context menu:</p>
<p><a href="2019-10-06-12-30-02.png" class="lightbox"><img src="2019-10-06-12-30-02.png" class="img-fluid" alt=""></a></p>
<p>Browse for packages and type in AdaptiveCardsBlazor as the search text. Select and install the package:</p>
<p><a href="2019-10-06-12-31-15.png" class="lightbox"><img src="2019-10-06-12-31-15.png" class="img-fluid" alt=""></a></p>
<p>Adaptive Cards for Blazor uses the official Adaptive Cards for .NET SDK and because of this, other packages are added into the app. After installing the package, you should see AdaptiveCardsBlazor in the dependencies:</p>
<p><a href="2019-10-06-12-33-18.png" class="lightbox"><img src="2019-10-06-12-33-18.png" class="img-fluid" alt=""></a></p>
<p>Now that we have the package installed, there's only few configuration settings needed in order to start displaying Adaptive Cards.</p>
<h3 id="configuring-the-blazor-app-for-adaptive-cards">Configuring the Blazor App for Adaptive Cards</h3>
<p>First part of the configuration is modifying ConfigureServices method of the <strong>Startup.cs</strong>. By default, this is how the Startup.cs should look like:</p>
<p><a href="2019-10-06-12-36-29.png" class="lightbox"><img src="2019-10-06-12-36-29.png" class="img-fluid" alt=""></a></p>
<p>We modify this by adding a new line into the end of the method:</p>
<pre><code class="line-numbers language-csharp">services.AddBlazorAdaptiveCards();
</code></pre>
<p>This is how the file should now look like:</p>
<p><a href="2019-10-06-12-40-00.png" class="lightbox"><img src="2019-10-06-12-40-00.png" class="img-fluid" alt=""></a></p>
<p>Another part of the configuration is adding the required JavaScript interop-file into the _Host.cshtml. Even though .NET is used to create the cards, few lines of JavaScript is used to handle the button clicks. Fear not though, you don't have to write JavaScript in order to use Adaptive Cards for Blazor. The JavaScript is used only internally by the library.</p>
<p>The requires JS-file is added into the head-part of the <strong>_Host.cshtml</strong>:</p>
<pre><code class="language-html">    &lt;script src="_content/AdaptiveCardsBlazor/adaptiveCardsJsInterop.js"&gt;&lt;/script&gt;
</code></pre>
<p>Making the _Host.cshtml look like the following:</p>
<p><a href="2019-10-06-12-46-58.png" class="lightbox"><img src="2019-10-06-12-46-58.png" class="img-fluid" alt=""></a></p>
<p>And we're done! Those two changes are the only ones needed. To make it easier to use the components provided by Adaptive Cards for Blazor, we also modify the <strong>_Imports.razor</strong> file. Here's the line which is added into the end of the file:</p>
<pre><code class="language-csharp">    @using AdaptiveCards.Blazor
</code></pre>
<p>And here's a look of the file after the edit:</p>
<p><a href="2019-10-06-12-50-43.png" class="lightbox"><img src="2019-10-06-12-50-43.png" class="img-fluid" alt=""></a></p>
<p>Now that we have everything set up, it's almost time to start drawing some cards. But before that, we need a schema.</p>
<h3 id="the-schema">The schema</h3>
<p>An adaptive card is presented by a JSON Schema. To get a better understanding of the schema, the <a href="https://adaptivecards.io/samples/">Adaptive Cards' sample site</a> contains nearly 20 different schemas to go through. When you find an interesting schema, you can copy and paste it into the <a href="https://adaptivecards.io/designer/">Adaptive Cards Designer</a>. The designer allows you to edit the schema and see the changes real time.</p>
<p>Another good introduction to the possibilities of Adaptive Cards is <a href="https://adaptivecards.io/explorer/">Schema Explorer</a>.</p>
<p>Here's the JSON-schema we will be using in this tutorial:</p>
<pre><code class="line-numbers language-json">{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "TextBlock",
      "text": "Warm",
      "size": "large",
      "isSubtle": true
    },
    {
      "type": "TextBlock",
      "text": "September 18, 7:30 AM",
      "spacing": "none"
    },
    {
      "type": "ColumnSet",
      "columns": [
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "Image",
              "url": "http://messagecardplayground.azurewebsites.net/assets/Mostly%20Cloudy-Square.png",
              "size": "small"
            }
          ]
        },
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "42",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "F",
              "weight": "bolder",
              "spacing": "small"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "Hi 51",
              "horizontalAlignment": "left"
            },
            {
              "type": "TextBlock",
              "text": "Lo 40",
              "horizontalAlignment": "left",
              "spacing": "none"
            }
          ]
        }
      ]
    }
  ]
}
</code></pre>
<p>The schema is the WeatherCompact sample from the <a href="https://adaptivecards.io/samples/WeatherCompact.html">Adaptive Cards' samples site</a>.</p>
<h3 id="adding-the-schema-into-the-app">Adding the Schema into the App</h3>
<p>The Adaptive Card's schema often comes into your application through some API or an endpoint. As we are only creating a client app in this guide, we will store the schema as a file. This file will be part of the project and we can read it from the disk when needed. Use Visual Studio's Add Item to create a new file:</p>
<p><a href="2019-10-06-13-00-27.png" class="lightbox"><img src="2019-10-06-13-00-27.png" class="img-fluid" alt=""></a></p>
<p>Select JSON file as the type and give the file a meaningful name, "WeatherSchema.json" in this case:</p>
<p><a href="2019-10-06-13-01-53.png" class="lightbox"><img src="2019-10-06-13-01-53.png" class="img-fluid" alt=""></a></p>
<p>Copy-paste the schema displayed above into the file:</p>
<p><a href="2019-10-06-13-02-41.png" class="lightbox"><img src="2019-10-06-13-02-41.png" class="img-fluid" alt=""></a></p>
<p>We now have our schema. In order for our app to be able to read it, we must make sure that the file is copied into the application's run directory. Select the file's properties and make sure that it's set to "Copy if newer":</p>
<p><a href="2019-10-06-13-04-39.png" class="lightbox"><img src="2019-10-06-13-04-39.png" class="img-fluid" alt=""></a></p>
<p>The property can be tested by building the app. After the build, WeatherSchema.json should be found from the application's bin\debug\netcore3.0 folder:</p>
<p><a href="2019-10-06-13-05-51.png" class="lightbox"><img src="2019-10-06-13-05-51.png" class="img-fluid" alt=""></a></p>
<p>Now, it's time to display the card.</p>
<h3 id="displaying-the-card">Displaying the card</h3>
<p>Here's the checklist so far:</p>
<ul>
<li>Nuget package</li>
<li>ConfigureServices</li>
<li>JS interop</li>
<li>Imports</li>
<li>The schema</li>
</ul>
<p>Everything should be ready so it's time to draw our first card. Open the <strong>Index.razor</strong> for editing. Here's how it looks by default:</p>
<pre><code class="line-numbers language-csharp">@page "/"

&lt;h1&gt;Hello, world!&lt;/h1&gt;

Welcome to your new app.
</code></pre>
<p>Let's edit this to add our first card:</p>
<pre><code class="line-numbers language-html">@page "/"

&lt;h1&gt;Hello Adaptive Cards for Blazor!&lt;/h1&gt;

Here's a card for displaying the weather:

&lt;div class="row"&gt;
    &lt;div class="col-3"&gt;
        &lt;AdaptiveCard Schema="@schema"&gt;&lt;/AdaptiveCard&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p>Adaptive Cards by default use all the horizontal space they can get so in this case we use Bootstrapper's col-3 to make the card smaller.</p>
<p>Running the application doesn't work just yet: We have to load the schema from the file. This can be done in the code-section of the <strong>Index.razor</strong>:</p>
<pre><code class="line-numbers language-csharp">@code{
    string schema = "";

    protected override void OnInitialized()
    {
        schema = System.IO.File.ReadAllText("WeatherSchema.json");
    }
}
</code></pre>
<p>And here's a full look of the content of the file:</p>
<p><a href="2019-10-06-13-15-47.png" class="lightbox"><img src="2019-10-06-13-15-47.png" class="img-fluid" alt=""></a></p>
<p>Now, run/F5 the application and we should have our first Adaptive Card visible!</p>
<p><a href="2019-10-06-13-16-40.png" class="lightbox"><img src="2019-10-06-13-16-40.png" class="img-fluid" alt=""></a></p>
<p>Before we start adding new features, let's add some tweaks to the project to make the cards little prettier.</p>
<h3 id="modernizing-the-look">Modernizing the look</h3>
<p>The card by default looks OK, but it feels little out of the place without any borders. Let's fix that by modifying the site's CSS-file, located in <strong>wwwroot/css/site.css</strong>. Each card automatically has the "ac-adaptivecard" class which we can target from our styles:</p>
<pre><code class="line-numbers language-css">.ac-adaptivecard {
    border: solid 1px lightgray;
}
</code></pre>
<p>Now when run, the card should be wrapped inside a border:</p>
<p><a href="2019-10-06-13-24-21.png" class="lightbox"><img src="2019-10-06-13-24-21.png" class="img-fluid" alt=""></a></p>
<p>The fonts and styling are still little of, if compared to the Adaptive Cards' samples. The sample site uses a stylesheet called "outlook.css" to make the cards pretty. This file is available from the <a href="https://github.com/microsoft/AdaptiveCards/blob/master/source/nodejs/adaptivecards-designer/src/containers/outlook/outlook-container.css">GitHub</a>. We can either download the file and add it as an additional stylesheet into our application or either copy-paste the content into the <strong>site.css</strong>. In this tutorial the content is copy-pasted under the ac-adaptivecard which we just added:</p>
<p><a href="2019-10-06-13-30-58.png" class="lightbox"><img src="2019-10-06-13-30-58.png" class="img-fluid" alt=""></a></p>
<p>Now we have everything ready. Here's how our card now looks like:</p>
<p><a href="2019-10-06-13-31-51.png" class="lightbox"><img src="2019-10-06-13-31-51.png" class="img-fluid" alt=""></a></p>
<p>Currently the card just displays information. In the next part we are going to add couple actions into it.</p>
<h3 id="adding-an-openurl-action">Adding an OpenUrl action</h3>
<p>Adaptive Cards can contain actions. Actions are usually displayed as button and their functionality can range from opening links to confirming booking details. Adaptive Cards support four types of actions:</p>
<ul>
<li><strong><a href="https://adaptivecards.io/explorer/Action.OpenUrl.html">OpenUrl</a></strong>: An action which opens a link (href)</li>
<li><strong><a href="https://adaptivecards.io/explorer/Action.Submit.html">Submit</a></strong>: Submits input fields (form)</li>
<li><strong><a href="https://adaptivecards.io/explorer/Action.ShowCard.html">ShowCard</a></strong>: Cards can contain cards. ShowCard can be used to show and hide an card. Usually used for displaying more detailed data for a particular card.</li>
<li><strong><a href="https://adaptivecards.io/explorer/Action.ToggleVisibility.html">ToggleVisibility</a></strong>: Action which can show or hide card elements.</li>
</ul>
<p>Adaptive Cards for Blazor supports three types of actions: OpenUrl, Submit and ShowCard. Support for ToggleVisibility is coming on the next version.</p>
<p>Adding an OpenUrl action is just a matter of adding couple new lines into our schema. Currently our card's schema only contains the <strong>"body"</strong> element. Now we add a new <strong>"actions"</strong> element in it. Actions inside the actions-element are rendered at the bottom of the card. Here's how to define an empty actions element:</p>
<pre><code class="line-numbers language-json">"body": [
  ...
],
"actions": [
]
</code></pre>
<p>To add an OpenUrl which takes us to Weather.com, we add an action of type Action.OpenUrl:</p>
<pre><code class="line-numbers language-json">"body": [
  ...
],
"actions": [
  {
    "type": "Action.OpenUrl",
    "title": "Open Weather Service",
    "url": "https://weather.com"
  }
]
</code></pre>
<p>Here's our card when the application is run:</p>
<p><a href="2019-10-06-17-29-59.png" class="lightbox"><img src="2019-10-06-17-29-59.png" class="img-fluid" alt=""></a></p>
<p>When the button is clicked, the browser navigates to the defined URL, in this case <a href="https://weather.com">https://weather.com</a>.</p>
<h3 id="adding-a-submit-showcard-actions">Adding a Submit &amp; ShowCard actions</h3>
<p>Submit actions are quite likely the most popular actions in Adaptive Cards. They allow you to gather some input from the user, like their name and address, and then to submit that data into your desired endpoint.</p>
<p>The <a href="https://adaptivecards.io/samples/Inputs.html">Inputs sample</a> at the Adaptive Cards' sample site gives a good representation of different input controls which are available through the schema:</p>
<p><a href="2019-10-06-17-34-04.png" class="lightbox"><img src="2019-10-06-17-34-04.png" class="img-fluid" alt=""></a></p>
<p>We are going to use Submit action to add "Share"-functionality into our app. But as we like to keep the main view of our card simple, we will use a ShowCard-action to display the sharing functionality. The idea is that by default the sharing functionality is hidden:</p>
<p><a href="2019-10-06-17-50-16.png" class="lightbox"><img src="2019-10-06-17-50-16.png" class="img-fluid" alt=""></a></p>
<p>When the user clicks the "Share"-button, the card is expanded with the help of ShowCard:</p>
<p><a href="2019-10-06-17-50-53.png" class="lightbox"><img src="2019-10-06-17-50-53.png" class="img-fluid" alt=""></a></p>
<p>Here's the updated actions-element from our schema:</p>
<pre><code class="line-numbers language-json">"body": [
  ...
],
"actions": [
  {
    "type": "Action.OpenUrl",
    "title": "Open Weather Service",
    "url": "https://weather.com"
  },
  {
    "type": "Action.ShowCard",
    "title": "Share...",
    "card": {
      "type": "AdaptiveCard",
      "body": [
        {
          "type": "TextBlock",
          "text": "Share with Email:"
        },
        {
          "type": "Input.Text",
          "id": "emailAddress",
          "placeholder": "user@email.com"
        }
      ],
      "actions": [
        {
          "type": "Action.Submit",
          "title": "Send Email"
        }
      ]
    }
  }
]
</code></pre>
<p>Now we have the desired UI but the Submit doesn't actually do anything. In Adaptive Cards for Blazor, Submit actions are handled using C#. As a reminder, here's how the <strong>Index.razor</strong> currently looks:</p>
<pre><code class="line-numbers language-charp">@page "/"

&lt;h1&gt;Hello Adaptive Cards for Blazor!&lt;/h1&gt;

Here's a card for displaying the weather:

&lt;div class="row"&gt;
    &lt;div class="col-3"&gt;
        &lt;AdaptiveCard Schema="@schema"&gt;&lt;/AdaptiveCard&gt;
    &lt;/div&gt;
&lt;/div&gt;

@code{
    string schema = "";

    protected override void OnInitialized()
    {
        schema = System.IO.File.ReadAllText("WeatherSchema.json");
    }
}
</code></pre>
<p>In order to handle the Submit, we must provide a submit method for the AdaptiveCard-component. This happens through <strong>OnSubmitAction</strong>:</p>
<pre><code class="line-numbers language-csharp">&lt;div class="row"&gt;
    &lt;div class="col-3"&gt;
        &lt;AdaptiveCard Schema="@schema" OnSubmitAction="@SendEmail"&gt;&lt;/AdaptiveCard&gt;
    &lt;/div&gt;
&lt;/div&gt;

@code{
    string schema = "";

    protected override void OnInitialized()
    {
        schema = System.IO.File.ReadAllText("WeatherSchema.json");
    }

    public void SendEmail(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {

    }
}
</code></pre>
<p>The event args contains the name of the submitted action (if the schema defines one) and the submitted data. In our case the submit data only contains one input: emailAddress:</p>
<p><a href="2019-10-06-18-07-08.png" class="lightbox"><img src="2019-10-06-18-07-08.png" class="img-fluid" alt=""></a></p>
<p>The values are in the form of Dictionary&lt;string, object&gt;. Here's a code which reads the submitted email address and displayes it under the card:</p>
<pre><code class="line-numbers language-csharp">&lt;div class="row"&gt;
    &lt;div class="col-3"&gt;
        &lt;AdaptiveCard Schema="@schema" OnSubmitAction="@SendEmail"&gt;&lt;/AdaptiveCard&gt;
    &lt;/div&gt;
&lt;/div&gt;

@if (!string.IsNullOrWhiteSpace(submittedTo))
{
    &lt;b&gt;Email submitted to:&lt;/b&gt; @submittedTo
}

@code{
    string schema = "";
    string submittedTo = "";

    protected override void OnInitialized()
    {
        schema = System.IO.File.ReadAllText("WeatherSchema.json");
    }

    public void SendEmail(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        submittedTo = eventArgs.Data["emailAddress"].ToString();
    }
}
</code></pre>
<p>And here's how the applications looks like after submitting the data:</p>
<p><a href="2019-10-06-18-16-16.png" class="lightbox"><img src="2019-10-06-18-16-16.png" class="img-fluid" alt=""></a></p>
<p>Adaptive Cards for Blazor offers multiple ways of handling the submitted data. One of them is model binding. Instead of having to get the desired values from a Dictionary, Adaptive Cards for Blazor can automatically bind the values into method parameters. For this to work, we replace the <strong>OnSubmitAction</strong> from the card with <strong>SubmitHandler</strong>. Also <strong>SendEmail</strong> method is replaced with <strong>Submit</strong>:</p>
<pre><code class="line-numbers language-csharp">&lt;div class="row"&gt;
    &lt;div class="col-3"&gt;
        &lt;AdaptiveCard Schema="@schema" SubmitHandler="this"&gt;&lt;/AdaptiveCard&gt;
    &lt;/div&gt;
&lt;/div&gt;

@if (!string.IsNullOrWhiteSpace(submittedTo))
{
    &lt;b&gt;Email submitted to:&lt;/b&gt; @submittedTo
}

@code{
    string schema = "";
    string submittedTo = "";

    protected override void OnInitialized()
    {
        schema = System.IO.File.ReadAllText("WeatherSchema.json");
    }

    public Task Submit(string emailAddress)
    {
        submittedTo = emailAddress;

        StateHasChanged();
        return Task.CompletedTask;
    }
}
</code></pre>
<p>Note that the Submit method currently has to return Task. It's possible that in future also void methods can be used. Also, as behind the scenes the Submit method is awaited, StateHasChanged must be manually called, if the component needs updating.</p>
<p>This produces an identical result as the previous example:</p>
<p><a href="2019-10-06-18-29-07.png" class="lightbox"><img src="2019-10-06-18-29-07.png" class="img-fluid" alt=""></a></p>
<p>This concludes the first part of our tutorial. In this tutorial we set-up our Blazor app to support Adaptive Cards for Blazor. Then we created a card schema using JSON. Lastly, we added three different actions into our card.</p>
<p>The next part of this tutorial is a shorter one. It continues from the first part and shows how you can use Card Collections: Adaptive Cards for Blazor's way of rendering multiple cards.</p>
<h2 id="card-collections">Card Collections</h2>
<p>Adaptive Cards for Blazor has a feature called Card Collections. Card Collections allow the developer to easily display a list of cards based on two things: <strong>A model</strong> and <strong>a template</strong>. Model can be any .NET object, like a Customer, Invoice or WeatherInf. Template is a JSON schema. Card Collection takes a list of models, for example List<weatherinfo> and the template and then binds each model against the schema. The end result is then rendered on the screen. Sounds harder than it is.</weatherinfo></p>
<p><em>Note</em>: The templating support in Adaptive Cards for Blazor is a custom-built solution, based on the <a href="https://github.com/lunet-io/scriban">Scriban</a> templating language. Adaptive Cards should at some point receive a native templating support.</p>
<p>Here's a quick reminder of how our weather schema displays the temperatures:</p>
<pre><code class="line-numbers language-json">        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "42",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        }
</code></pre>
<p>Here's a slightly modified version of the schema where the "42" is replaced with binding:</p>
<pre><code class="line-numbers language-json">        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "{{ TemperatureF }}",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        },
</code></pre>
<p>And here's our C# class (the model) which we will bind against the card:</p>
<pre><code class="line-numbers language-charp">    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public int TemperatureF =&gt; 32 + (int)(TemperatureC / 0.5556);

        public string Summary { get; set; }
    }
</code></pre>
<p>Our current Blazor App already have a page which displays weather forecasts but in a rather plain format:</p>
<p><a href="2019-10-07-17-42-33.png" class="lightbox"><img src="2019-10-07-17-42-33.png" class="img-fluid" alt=""></a></p>
<p>In this tutorial we will modify the page so that instead of a table, we get a nice collection of cards:</p>
<h3 id="creating-the-templated-schema">Creating the Templated Schema</h3>
<p>First we need to have a schema which enables the templating. For this we copy-paste the existing WeatherSchema.json into <strong>WeatherSchemaTemplate.json</strong>:</p>
<p><a href="2019-10-07-17-44-04.png" class="lightbox"><img src="2019-10-07-17-44-04.png" class="img-fluid" alt=""></a></p>
<p>The schema currently has the following information hard coded:</p>
<ul>
<li>Weather summary</li>
<li>Date</li>
<li>Image</li>
<li>Current weather in fahrenheits</li>
<li>Temperature range for the day</li>
</ul>
<p><a href="2019-10-07-17-46-06.png" class="lightbox"><img src="2019-10-07-17-46-06.png" class="img-fluid" alt=""></a></p>
<p>As we already have an existing WeatherForecastService, we don't want to do any changes into it. Instead we tweak the card a little: Instead of displaying the temperature range, we display the weather in celcius. To make sure we get the schema correct before adding the templating support, we modify <strong>WeatherSchemaTemplate.json</strong> to display the temperature in celsius. Where we previously had:</p>
<pre><code class="line-numbers language-json">        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "Hi 51",
              "horizontalAlignment": "left"
            },
            {
              "type": "TextBlock",
              "text": "Lo 40",
              "horizontalAlignment": "left",
              "spacing": "none"
            }
          ]
        }
</code></pre>
<p>Is changed to the following:</p>
<pre><code class="line-numbers language-json">        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "20",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "C",
              "weight": "bolder",
              "spacing": "small"
            }
          ]
        }
</code></pre>
<p>This will give us an output similar to this:</p>
<p><a href="2019-10-07-17-51-20.png" class="lightbox"><img src="2019-10-07-17-51-20.png" class="img-fluid" alt=""></a></p>
<p>Now that we have the schema, we will modify it that is supports the templating. The syntax for template is:</p>
<pre><code class="language-json">{{ PropertyName }}
</code></pre>
<p>Here's again our model:</p>
<pre><code class="language-csharp">    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public int TemperatureF =&gt; 32 + (int)(TemperatureC / 0.5556);

        public string Summary { get; set; }
    }
</code></pre>
<p>So the syntax for displaying property <strong>TemperatureC</strong> in our card is:</p>
<pre><code class="language-json">{{ TemperatureC }}
</code></pre>
<p>The first change we need to make into our schema is to remove the hard-coded "warm" and to replace it with value of Summary. This is the original schema:</p>
<pre><code class="line-numbers language-json">    {
      "type": "TextBlock",
      "text": "Warm",
      "size": "large",
      "isSubtle": true
    },
</code></pre>
<p>And here's the same part modified to support templating:</p>
<pre><code class="line-numbers language-json">    {
      "type": "TextBlock",
      "text": "{{ Summary }}",
      "size": "large",
      "isSubtle": true
    },
```json

After going through our schema and replacing everything else except the hard-coded image, here's the full outcome:

```json {.line-numbers}
{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.0",
  "body": [
    {
      "type": "TextBlock",
      "text": "{{ Summary }}",
      "size": "large",
      "isSubtle": true
    },
    {
      "type": "TextBlock",
      "text": "{{ Date }}",
      "spacing": "none"
    },
    {
      "type": "ColumnSet",
      "columns": [
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "Image",
              "url": "http://messagecardplayground.azurewebsites.net/assets/Mostly%20Cloudy-Square.png",
              "size": "small"
            }
          ]
        },
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "{{ TemperatureF }}",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "F",
              "weight": "bolder",
              "spacing": "small"
            }
          ]
        },
        {
          "type": "Column",
          "width": "auto",
          "items": [
            {
              "type": "TextBlock",
              "text": "{{ TemperatureC }}",
              "size": "extraLarge",
              "spacing": "none"
            }
          ]
        },
        {
          "type": "Column",
          "width": "stretch",
          "items": [
            {
              "type": "TextBlock",
              "text": "C",
              "weight": "bolder",
              "spacing": "small"
            }
          ]
        }
      ]
    }
  ],
  "actions": [
    {
      "type": "Action.OpenUrl",
      "title": "Open Weather Service",
      "url": "https://weather.com"
    },
    {
      "type": "Action.ShowCard",
      "title": "Share...",
      "card": {
        "type": "AdaptiveCard",
        "body": [
          {
            "type": "TextBlock",
            "text": "Share with Email:"
          },
          {
            "type": "Input.Text",
            "id": "emailAddress",
            "placeholder": "user@email.com"
          }
        ],
        "actions": [
          {
            "type": "Action.Submit",
            "title": "Send Email"
          }
        ]
      }
    }
  ]
}
</code></pre>
<p>We now have our templated schema ready and it's time to display the cards.</p>
<h3 id="displaying-the-card-collection">Displaying the Card Collection</h3>
<p>Currently the weather forecasts are displayed in <strong>FetchData.razor</strong> in a HTML table:</p>
<p><a href="2019-10-07-18-04-52.png" class="lightbox"><img src="2019-10-07-18-04-52.png" class="img-fluid" alt=""></a></p>
<p>Start by removing the table:</p>
<p><a href="2019-10-07-18-05-39.png" class="lightbox"><img src="2019-10-07-18-05-39.png" class="img-fluid" alt=""></a></p>
<p>Card Collection can be rendered through AdaptiveCards-component. The component requires two properties: the templated schema and list of objects. List of objects we already have in the form of forecasts:</p>
<pre><code class="language-csharp">@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
</code></pre>
<p>As in the first part of this tutorial, we will load the schema-file from the disk:</p>
<pre><code class="language-csharp">@code {
    WeatherForecast[] forecasts;
    string schema;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        schema = System.IO.File.ReadAllText("WeatherSchemaTemplate.json");
    }
}
</code></pre>
<p>And here's how we add the AdaptiveCards-component:</p>
<pre><code class="language-html">    &lt;AdaptiveCards Models="@forecasts" Schema="@schema"&gt;&lt;/AdaptiveCards&gt;
</code></pre>
<p>FetchData.razor at this point should look like the following:</p>
<pre><code class="line-numbers language-html">@page "/fetchdata"

@using WeatherCards.Data
@inject WeatherForecastService ForecastService

&lt;h1&gt;Weather forecast&lt;/h1&gt;

&lt;p&gt;This component demonstrates fetching data from a service.&lt;/p&gt;

@if (forecasts == null)
{
    &lt;p&gt;&lt;em&gt;Loading...&lt;/em&gt;&lt;/p&gt;
}
else
{
    &lt;AdaptiveCards Models="@forecasts" Schema="@schema"&gt;&lt;/AdaptiveCards&gt;
}

@code {
    WeatherForecast[] forecasts;
    string schema;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        schema = System.IO.File.ReadAllText("WeatherSchemaTemplate.json");
    }
}
</code></pre>
<h3 id="animating-the-cards">Animating the cards</h3>
<h2 id="next-steps">Next Steps</h2>


                <div class="row">
                    <div class="col">
                            <a class="text-muted" href="/index.html">Previous: Welcome to Adaptive Cards for Blazor</a>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>

            </main>

        </div>

        <div class="row">
            <div class="col-12">
                <footer class="bd-footer text-muted">
                    <div class="p-4">
                            <p>Copyright 2019 Mikael Koskinen</p>
                        <p>Documentation built with <a target="_blank" href="https://www.grazedocs.io">GrazeDocs</a>. <a target="_blank" href="https://getbootstrap.com/docs/4.3/assets/css/docs.min.css">"Bootstrap Docs"</a> theme by Twitter is licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a></p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="/assets/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/prism.js"></script>
    <script src="/assets/simpleLightbox.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.lightbox').simpleLightbox();
        });
    </script>
</body>
</html>