@page "/collections/basic"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Card Collection Overview</h1>

<Info>
    Card Collection allow you to display collection of Adaptive Cards. This sample shows the basic usage of the Card Collection.
</Info>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CardCollection Models="@forecasts" Schema="@Schemas.WeatherTemplated" OnSubmitAction="OnSubmit" OnOpenUrlAction="OnNavigation"></CardCollection>
}

@if (!string.IsNullOrWhiteSpace(actionDetails))
{
    <p class="alert alert-success mt-3" style="white-space: pre-wrap">@actionDetails</p>
}

<CodeBlock Source="Collections/Basic.razor" />

@code {
    string actionDetails = "";
    WeatherForecast[] forecasts;
    string schema;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    private void OnSubmit(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        var details = new { eventArgs.Data, eventArgs.Model };
        actionDetails = "OnSubmit: " + Environment.NewLine + System.Text.Json.JsonSerializer.Serialize(details, options: new System.Text.Json.JsonSerializerOptions() { WriteIndented = true });
    }

    private void OnNavigation(string url)
    {
        actionDetails = "OnNavigation: " + Environment.NewLine + url;
    }
}
