@page "/collections/defaulttemplate"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Card Collection with Default Template</h1>

<Info>
    This sample shows how the Card Collection automatically selects the default template. Default template is set in the application's ConfigureServices.
</Info>

@if (Customers?.Any() == true)
{
    <CardCollection Models="@Customers"></CardCollection>
}

<CodeBlock Source="Collections/DefaultTemplate.razor" />

@code {
    private List<Customer> Customers = new List<Customer>();

    protected override void OnInitialized()
    {
        Customers.Clear();

        for (int i = 0; i < 10; i++)
        {
            Customers.Add(new Customer() { FirstName = $"Person {i}", LastName = "Lastname" });
        }
    }
}
