@page "/collections/namedtemplate"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Card Collection with Named Template</h1>

<Info>
    This sample shows how the name of the template can be used to render cards in Card Collection.
</Info>

@if (Customers?.Any() == true)
{
    <CardCollection TemplateName="Alternative" Models="@Customers"></CardCollection>
}

<CodeBlock Source="Collections/NamedTemplate.razor" />

@code {
    private List<Customer> Customers = new List<Customer>();

    protected override void OnInitialized()
    {
        Customers.Clear();

        for (var i = 0; i < 10; i++)
        {
            Customers.Add(new Customer() { FirstName = $"Person {i}", LastName = "Lastname" });
        }
    }
}
