@page "/misc/async"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Card Collection asynchronous rendering</h1>

@if (Customers?.Any() == true)
{
    <Info>
        This sample uses asynchronous rendering to render 50 cards.
    </Info>
    <CardCollection Models="@Customers" RenderMode="RenderMode.Asynchronous"></CardCollection>
}

<CodeBlock Source="Misc/AsyncRender.razor" />

@code {
    private List<Customer>
    Customers = new List<Customer>();

    protected override void OnInitialized()
    {
        Customers.Clear();

        for (var i = 0; i < 50; i++)
        {
            Customers.Add(new Customer() { FirstName = $"Person {i}", LastName = "Lastname" });
        }
    }
}
