@page "/misc/sync"

@using AdaptiveCards.Blazor.Samples.Data
@inject WeatherForecastService ForecastService

<h1>Card Collection synchronous rendering</h1>

@if (Customers?.Any() == true)
{
    <Info>
        This sample takes time to load as it renders 50 cards. The collection uses the default rendering mode called "Synchronous rendering". The next sample can be used to validate the performance difference between synchronous and asynchronous rendering.
    </Info>
    <CardCollection Models="@Customers" RenderMode="RenderMode.Synchronous"></CardCollection>
}

<CodeBlock Source="Misc/SyncRender.razor" />

@code {
    private List<Customer> Customers = new List<Customer>();

    protected override void OnInitialized()
    {
        Customers.Clear();

        for (var i = 0; i < 50; i++)
        {
            Customers.Add(new Customer() { FirstName = $"Person {i}", LastName = "Lastname" });
        }
    }
}
