<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 collapsed" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
    <nav class="collapse bd-links" id="bd-docs-nav">

        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/">
                Overview
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/">
                        Overview
                    </a>
                </li>
                <li>
                    <a href="/samples">
                        Official Samples
                    </a>
                </li>
            </ul>

        </div>

        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/actions/openurl">
                Actions
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/actions/openurl">
                        Open Url
                    </a>
                </li>
                <li>
                    <a href="/actions/submit">
                        Submit
                    </a>
                </li>
                <li>
                    <a href="/actions/showcard">
                        Show Card
                    </a>
                </li>
            </ul>

        </div>


        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/templating/basic">
                Templating
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/templating/basic">
                        Overview
                    </a>
                </li>
                <li>
                    <a href="/templating/defaulttemplate">
                        Default Template
                    </a>
                </li>
                <li>
                    <a href="/templating/templateselector">
                        Template Selector
                    </a>
                </li>
            </ul>
        </div>

        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/Collections/Basic">
                Card Collection
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/Collections/Basic">
                        Overview
                    </a>
                </li>
                <li>
                    <a href="/Collections/Layouts">
                        Layouts
                    </a>
                </li>
                <li>
                    <a href="/Collections/SubmitAction">
                        Submit Action
                    </a>
                </li>
                <li>
                    <a href="/Collections/DefaultTemplate">
                        Default Template
                    </a>
                </li>
                <li>
                    <a href="/Collections/NamedTemplate">
                        Named Template
                    </a>
                </li>
                <li>
                    <a href="/Collections/TemplateSelector">
                        Template Selector
                    </a>
                </li>
                <li>
                    <a href="/Collections/Attributes">
                        Attributes
                    </a>
                </li>
            </ul>
        </div>

        <div class="bd-toc-item active">
            <a class="bd-toc-link" href="/misc/events">
                Misc
            </a>

            <ul class="nav bd-sidenav">
                <li>
                    <a href="/misc/events">
                        Events
                    </a>
                </li>
                <li>
                    <a href="/misc/Animation">
                        Animation
                    </a>
                </li>
                <li>
                    <a href="/Misc/Sync">
                        (Slow) Synchronous Rendering
                    </a>
                </li>
                <li>
                    <a href="/Misc/Async">
                        Asynchronous Rendering
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>