@page "/actions/togglevisibility"

@inject WeatherForecastService ForecastService

<h1>ToggleVisibility action</h1>

<p>This demonstrates how Action.ToggleVisibility action is automatically handled.</p>

<AdaptiveCard Schema="@Schemas.WeatherToggleVisibility"></AdaptiveCard>

<CodeBlock Source="Actions/ToggleVisibility.razor" />