@page "/"
@using AdaptiveCards.Blazor.Actions

<div class="row">
    <div class="col-12">
        <h1>Weather sample</h1>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="adaptivecard">
            <AdaptiveCard Schema="@schema" OnSubmitAction="Submit"></AdaptiveCard>
        </div>
    </div>
</div>

@code {
    string schema = "";

    protected override async Task OnParametersSetAsync()
    {
        schema = await System.IO.File.ReadAllTextAsync("AdaptiveCard.json");
    }

    public async Task Submit(SubmitEventArgs data)
    {
    }
}