@page "/"

<h1>Adaptive Cards for Blazor sample</h1>

<Info>
    This sample shows how to display Adaptive Card and to handle its actions
</Info>

<AdaptiveCard Schema="@Schemas.Weather" OnSubmitAction="HandleSubmit" OnOpenUrlAction="HandleNavigation"></AdaptiveCard>

@if (!string.IsNullOrWhiteSpace(navigatingTo))
{
    <p class="alert alert-success"><b>Navigating to:</b> @navigatingTo</p>
}

@if (!string.IsNullOrWhiteSpace(submittedTo))
{
    <p class="alert alert-success"><b>Email submitted to:</b> @submittedTo</p>
}

@code{
    string submittedTo = "";
    string navigatingTo = "";

    public void HandleNavigation(string url)
    {
        navigatingTo = url;
    }

    public void HandleSubmit(AdaptiveCards.Blazor.Actions.SubmitEventArgs eventArgs)
    {
        submittedTo = eventArgs.Data["emailAddress"].ToString();
    }
}